html{
  scroll-behavior:smooth;
}
body{
  margin:0;
  font-family:"Arial", sans-serif;
  background-color:#f0f2f5;
}

p{
  margin:0;
  font-size:14px;
  color:#000000;
  }

nav{
  display:flex;
  background-color:#ffffff;
}
.title{
  color:#000000;
  margin:15px 10px;
  font-size:18px;
  font-weight: normal;
}
.title:active{
  background-color:#f0f2f5;
  }
.icons{
  display:flex;
  margin-right:5px;
  margin-left:auto;
}

.footer-hr{
  border:none;
  height:0.5px;
  background-color:#bbbbbb;
  margin:0 10px;
}
.box p{
  margin-top:5px;
}
.container{
  display:grid;
  margin:10px;
  grid-template-columns:repeat(2, 1fr);
  gap:10px;
}
.box{
  background-color:#ffffff;
  padding:5px;
  border-radius:5px;
}
.box:active{
  transform:scale(0.95);
  }
  
.title-box{
  display:flex;
  margin:10px;
  background-color:#ffffff;
  border-radius:5px;
}
.title-box p{
  margin:12px 5px;
  }
.title-box svg{
  margin:10px 5px 10px auto;
  }
.box img{
  display:block;
  aspect-ratio:16/9;
  object-fit:cover;
  background-color:#f0f2f5;
  font-size:14px;
  border-radius:5px; 
}

.footer{
  margin:5px;
  text-align:center;
}

a{
  text-decoration:none;
  cursor:default;
  color:inherit;
}

.icons button{
  padding:0;
  margin:13px 4px;
  background-color:transparent;
  border:none;
  }
.icons button:active{
  background-color:#f0f2f5;
  }

