:root{
  --v1:#000;
  --v2:#000;
  --v3:#000;
  --sun:none;
  --moon:none;
  }

.dark-mode{
  --v1:#000;
  --v2:#333;
  --v3:#fff;
  --sun:block;
  }

.sun-mode{
  --v1:#f0f0f5;
  --v2:#fff;
  --v3:#000;
  --moon:block;
  }

html{
  scroll-behavior:smooth;
}
body{
  margin:0;
  font-family:"Arial", sans-serif;
  background:var(--v1);
}

p{
  margin:0;
  font-size:14px;
  color:var(--v3);
  }

nav{
  display:flex;
  height:50px;
  padding:0 5px 0 10px;
  background:var(--v2);
}
svg{
  stroke:var(--v3);
  }
.title{
  color:var(--v3);
  margin:auto 0;
  font-size:18px;
  font-weight: normal;
}
.title:active{
  background:#f0f0f5;
  }

button{
  padding:0;
  background:none;
  border:none;
  }

#search-bar{
  visibility:hidden;
  display:flex;
  position:absolute;
  height:50px;
  top:0;
  right:0;
  left:0;
  background:var(--v2);
  }
#search-bar button{
  margin:13px 10px;
  }
#search-bar input{
  margin:10px 0;
  width:100%;
  border:none;
  color:var(--v3);
  background:var(--v1);
  border-radius:5px;
  }
input:focus{
  outline:none;
  }
#sun{
  display:var(--sun);
  }
#moon{
  display:var(--moon);
  }

.icons{
  display:flex;
  margin-left:auto;
}

.footer-hr{
  border:none;
  height:0.5px;
  background:#bbbbbb;
  margin:0 10px;
}
.box p{
  margin-top:5px;
}
.container{
  display:grid;
  margin:10px;
  grid-template-columns:repeat(2, 1fr);
  gap:10px;
}
.box{
  background:var(--v2);
  padding:5px;
  border-radius:5px;
}
.box:active{
  transform:scale(0.95);
  }
  
.title-box{
  display:flex;
  margin:10px;
  height:40px;
  background:var(--v2);
  border-radius:5px;
}
.title-box p{
  margin:auto 5px;
  }
.title-box svg{
  margin:auto 5px auto auto;
  }
.box img{
  display:block;
  aspect-ratio:16/9;
  object-fit:cover;
  background:var(--v1);
  font-size:14px;
  border-radius:3px;
}

.footer{
  margin:5px;
  text-align:center;
}

a{
  text-decoration:none;
  cursor:default;
  color:inherit;
}

.icons button{
  padding:0;
  margin:13px 5px;
  background:none;
  border:none;
  }

button:active{
  background:#bbb;
  }

